.containerR{
    width: 500px;
    height: 450px;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(28, 29, 31, 0.9);
    margin-top: 160px;
 }
 label[id="RegLabels"]{
     color: #ff0000;
 }
 .form-inputR input[name="username"]{
    border: none;
    border-bottom-style: solid;
    border-bottom-color: #990000;
    border-bottom-width: 1px;
    background-color: transparent;
    color: white;
    font-size: medium;
    margin-top: 80px;
    height: 45px;
    width: 300px;
}
.form-inputR input[name="email"] {
    border: none;
    border-bottom-style: solid;
    border-bottom-color: #990000;
    border-bottom-width: 1px;
    background-color: transparent;
    color: white;
    font-size: medium;
    margin-top: 10px;
    height: 45px;
    width: 300px;
}
.form-inputR input[name="password"]{
    border: none;
    border-bottom-style: solid;
    border-bottom-color: #990000;
    border-bottom-width: 1px;
    background-color: transparent;
    color: white;
    font-size: medium;
    margin-top: 10px;
    height: 45px;
    width: 300px;
}
.form-inputR input[name="confirmpassword"]{
    border: none;
    border-bottom-style: solid;
    border-bottom-color: #990000;
    border-bottom-width: 1px;
    background-color: transparent;
    color: white;
    font-size: medium;
    margin-top: 10px;
    height: 45px;
    width: 300px;
}
.form-inputR input[name="username"]:focus{
    outline: none;
}
.form-inputR input[name="password"]:focus{
    outline: none;
}
.form-inputR input[name="confirmpassword"]:focus{
    outline: none;
}
.form-inputR input[name="email"]:focus{
    outline: none;
}
.btn-register{
    margin-top : 30px;
    padding: 15px 65px;
    border: none;
    background-color: rgb(155, 1, 1);
    font-size: 20px;
    color: #fff;
}
.btn-register:hover{
    background-color: rgb(189, 3, 3);
}
.error-msg-cont{
    margin-top: 5px;
    color: #ff0000;
}